<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/dashboard.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/zico/JS/zico.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {#    <script src="../../static/js/canvas.js"></script>#}
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.0.2/echarts.common.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.0.2/echarts.min.js"></script>
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        })
    </script>
    <title>统计emoji数据</title>
</head>
<body class="text-center">
<!--顶部栏-->
<nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow" style="background-color: #29abff;">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/admin_index/"
       style="font-weight: bold;font-size: x-large;">emoji管理系统</a>
    <span style="font-size: medium; color: #ffffff; margin-top: 0px; font-weight: bold;font-size: large;">管理员系统：欢迎 {{ name }}</span>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout_view/" style="font-weight: bold;color: #ffffff">退出登录</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <!--侧边栏-->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin_index/">
                            <i class="zi zi_service"></i>
                            <span>管理员主界面</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin_query/">
                            <i class="zi zi_search"></i>
                            <span>查看用户数据</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/emoji_query/">
                            <i class="zi zi_squareDown"></i>
                            <span>查看emoji数据</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/emoji_export/">
                            <i class="zi zi_squareDown"></i>
                            <span>导出emoji数据</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/emoji_statistic/">
                            <i class="zi zi_squareDown"></i>
                            <span>统计emoji数据</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="background"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <form role="form" action="/emoji_statistic/" method="post" class="login-box">
                {% csrf_token %}
                <h3 class="login-title"> 选择时间 </h3>
                <label for="beginTime" class="left pt-1"> 开始时间 </label>
                <input name="beginTime" type="datetime-local" class="form-control" id="beginTime"
                       placeholder="请选择开始时间" autofocus value="{{ beginTime }}">

                <label for="endTime" class="left pt-2"> 结束时间 </label>
                <input name="endTime" type="datetime-local" class="form-control" id="endTime"
                       placeholder="请选择结束时间"
                       autofocus value="{{ endTime }}">
                <br>
                <button class="btn btn btn-primary mr-3" type="submit">查询</button>
                <br><br>
                {% if msg %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert"
                         style="display: inline-block">
                        {{ msg }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            </form>

            {% if emoji_count and emoji_map %}
                <table class="table container-fluid">
                <thead class="thead-light">
                </thead>
                <tbody>
                <tr>
                {% for emoji in emoji_count.keys %}
                        <td>
                            {% if emoji == "laugh" %}
                                😄
                            {% elif emoji == "forced_smile" %}
                                😅
                            {% elif emoji == "light_up_with_pleasure" %}
                                🥰
                            {% elif emoji == "think" %}
                                🤔
                            {% elif emoji == "indifference" %}
                                😐
                            {% elif emoji == "sleepy" %}
                                😪
                            {% elif emoji == "slightly_dissatisfied" %}
                                🙁
                            {% elif emoji == "painful" %}
                                😣
                            {% else %}
                                {{ emoji }}
                            {% endif %}
                            ( {{ emoji }} )
                        </td>
                {% endfor %}
                </tr>
                <tr>
                {% for count in emoji_count.values %}
                        <td>
                            {{ count }}
                        </td>
                {% endfor %}
                </tr>
            </tbody>
            </table>
            {% else %}
            还未发送过emoji！
        {% endif %}
            <br>
            <br>
        </main>
    </div>
</div>
</body>
</html>
<style>
    body {
        background-image: url("../../static/img/background-o.jpg");
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .box {
        width: 1200px;
        height: 1200px;
        background-color: rgb(188, 227, 236);
    }
</style>